@import './fonts'
@import './variables'
@import './mixins'

html
  box-sizing: border-box
  font-size: 16px
  scroll-behavior: smooth
  line-height: 1.5
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-size: 100%
  @media (max-width: 1400px)
    font-size: 90%
  @media (max-width: 1200px)
    font-size: 80%
  @media (max-width: 768px)
    font-size: 70%
  @media (max-width: 576px)
    font-size: 50%

body
  margin: 0
  font-family: Arial, sans-serif
  color: $font-black
  background-color: $bgc-main

*, *::before, *::after
  box-sizing: inherit

.container
  width: 100%
  display: flex
  padding: 0 100px
  // @media (max-width: 1200px)
  //   padding: 0 70px
  // @media (max-width: 992px)
  //   padding: 0 30px
  // @media (max-width: 768px)
  //   padding: 0 20px

p
  font-family: 'Inter', sans-serif
  font-size: 1.25rem
  font-weight: 400
  line-height: 1.5
  text-align: left

h1, h2, h3, h4, h5
  text-align: left
  margin: 0
  font-weight: 500
  font-family: 'Inter', sans-serif
  line-height: 1.2
  color: $font-white

h1
  font-size: 7.5rem
h2
  font-size: 6.5rem
h3
  font-size: 4rem
h4
  font-size: 2rem
h5
  font-size: 2.5rem
